@mixin cardbox($width-card){
    border: 1rem solid rgb(41, 39, 39);
    min-height: 60rem;
    box-shadow: 2rem 2rem 1.1rem #00000018;
    max-width: $width-card;
}
@mixin cardcontent{
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 5rem;
    min-height: 20rem;
}
@mixin btncard($color-btn,$color-text-btn) {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: $color-btn;
    border-radius: 25px;
    color: $color-text-btn;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.3s;
    &:hover,&:focus{
        background-color: #141210;
        color: #fff;
        padding: 2rem;
        box-shadow: 2rem 2rem 1.1rem #00000018;
        
    }
}